{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="h1 ml-4">Registration</div>
    <form>
    <p class="alert-danger">Sorry, this email address allready registred!</p>
        <div class="form-inline mb-2">
            <label for="login">Login</label>
            <input type="text" class="form-control ml-4" id="login" placeholder="dr_pepper">
        </div>
        <div class="form-inline mb-2">
            <label for="email">Email</label>
            <input type="email" class="form-control ml-4" id="email" placeholder="dr.pepper@mail.ru">
        </div>
        <div class="form-inline mb-2">
            <label for="nickname">NickName</label>
            <input type="text" class="form-control ml-4" id="nickname" placeholder="Dr. Pepper">
        </div>
        <div class="form-inline mb-2">
            <label for="passwd">Password</label>
            <input class="form-control ml-4" type="password"  id="passwd">
        </div>
         <div class="form-inline mb-2">
            <label for="rep_passwd">Repeat password</label>
            <input class="form-control ml-4" type="password"  id="rep_passwd">
        </div>
         <div class="form-inline mb-2">
            <label for="avatar">Upload avatar</label>
            <input class="form-control ml-4" type="file"  id="avatar">
        </div>
        <input type="button" class="btn btn-outline-success ml-4" value="Register!">
    </form>
{% endblock %}